@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>View <a asp-controller="Customer" asp-action="List" asp-route-filterFrom="A" asp-route-filterTo="E">all customers</a>.</p>
</div>
